<%- include('partials/_header') %>

<!--Elemento Slider-->
<div id="slider" class="slider-big" >
    <h1>SISTEMA CRUD C3</h1>
    <a href="/" class="btn-white">ir a Inicio</a>
</div>

<!--Elementno de Contenido central-->
<div class="center">
<section id="contentForm">
    
    <h1 class="subheader">Formulario Alumnos</h1>
    <form class="mid-form" action="/add" method="POST">
        <div class ="form-group">
            <label for="nombres">Nombres y Apellidos</label>
            <input type="text" name="nombres" />
        </div>

        <div class ="form-group">
            <label for="contacto">Número Contacto</label>
            <input type="text" name="contacto" />
        </div>

        

        <div class="form-group">
            <label for="comentario">Comentarios</label>
            <textarea name="comentarios" id="" cols="30" rows="10"></textarea>
        </div>

        <div class="form-group radibuttons">
            
            <input type="radio" name="genero" value="Femenino" />Femenino
            <input type="radio" name="genero" value="Masculino" />Masculino
            <input type="radio" name="genero" value="Otro" />Otro
        </div>

        <div class="clearfix"></div>
        <input type="submit" value="Enviar" class="btn btn-success"/>

    </form>

</section>
<!--clearfix permite acomodar el footer para que no se monte arriba-->
<div class="clearfix"></div>
</div>

<%- include('partials/_footer') %>